preprocessing/data/
model_and_weight_files/
junk/
examples/structure_files/
*.png 
examples/*.csv
examples/*.fasta
reviwer_comments .txt
reviewed-Deeopgogreen_Pasan.docx
reviewed-Deeopgogreen_Pasan.docx:Zone.Identifier
Miniconda3-latest-Linux-x86_64.sh
plots/*
SOTA/*
sota/*
arc_benchmark/nominal_30_identity_80_coverage/raw/normalized_sources/dpfunc_bp.tsv

check_len.py
check_plddt.py
extract_comments.py
read_docx.py
regen.py
list_ftp.py
fetch_data.py
fetch_data.sh
comments.txt

!preprocessing/pdb_clusters/fetch_data.py
!preprocessing/pdb_clusters/fetch_data.sh

preprocessing/data_arc_rebuild_*/

visualize_cmap/

# Common large data files
*.npz
*.gz
*.cif
*.pkl
*.pt
*.pth
*.cif.gz
*.npy
*.json

tuning_runs/*/*.npy
tuning_runs/*/*.pt
tuning_runs/*/*.pth
!tuning_runs/*/*.json
!tuning_runs/*/*.csv

arc_tuning_threshold_40/*
arc_tuning_threshold_50/*
arc_tuning_threshold_60/*
arc_tuning_threshold_90/*
arc_tuning_threshold_95/*

runs/*/*.npy
runs/*/*.pt
runs/*/*.pth
!runs/*/*.json
!runs/*/*.csv

!runs_ablation_input/*/*.json
!runs_ablation_input/*/*.csv
!runs_ablation_loss/*/*.json
!runs_ablation_loss/*/*.csv
# Python environments and caches
__pycache__/
*.pyc
*.pyo
venv/
env/
.env
.venv/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

#Deepfri eval
baselines/DeepFRI/
baselines/deepfri/
baselines/deepfri_results/
baselines/blast/blast_results.tsv
baselines/blast/train_db.pdb
baselines/blast/train_db.phr
baselines/blast/train_db.pin
baselines/blast/train_db.pjs
baselines/blast/train_db.pot
baselines/blast/train_db.psq
baselines/blast/train_db.ptf
baselines/blast/train_db.pto
baselines/diamond/diamond_results.tsv
baselines/diamond/train_db.dmnd

SOTA/
SOTA_predictions/
old run/

plots/figures/
plots/figures/**/*.pdf
plots/figures/**/*.tiff
plots/figures/**/*.svg


!plots/figures/
plots/figures/*
!plots/figures/README.md
!plots/figures/benchmark/
plots/figures/benchmark/*
!plots/figures/benchmark/README.md

